body {
    margin: 0;
    background: #f8fbfc;
    background: linear-gradient(to right, #fff5f4, #a2c9d6);
    font-family: Arial, sans-serif;
}

.container {
    margin: 20px auto;
    /* Este margen asegura el centrado horizontal */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    /* Centra el contenido dentro del contenedor */
    width: 80%;
    /* Define el ancho del contenedor */
}


h1 {
    color: #2b2626;
}

p {
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: justify;
}

.comments {
    margin-top: 30px;
}

.comment {
    background-color: #cacac9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.comment h3 {
    margin: 0;
}

.comment p {
    margin-top: 5px;
}

.comment-author {
    font-weight: bold;
}
.boton-salir {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.boton-salir:hover {
    background-color: #0056b3;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #42A5F5;
    padding: 10px 20px;
    color: white;
    flex-wrap: wrap;
}

#header img {
    height: 60px;
    margin-right: 10px;
}

#return-button {
    padding: 8px 16px;
    font-size: 1rem;
    background-color: #42A5F5;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
}
button {
    padding: 10px 20px;
    border: none;
    background-color: #42A5F5;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    opacity: 0.9;
}

.botones {
    display: flex; /* Activa diseño flexible */
    align-items: center; /* Alinea botones verticalmente */
    justify-content: space-between; /* Distribuye botones horizontalmente */
    gap: 10px; /* Espacio entre los botones */
    margin: 20px;
}

.boton.verde {
    background-color: #4CAF50;
}

.boton.verde:hover {
    background-color: #45a049;
}

.boton.azul {
    background-color: #336b82;
}

.boton.azul:hover {
    background-color: #285a6b;
}

.boton.rojo {
    background-color: #e42020;
}

.boton.rojo:hover {
    background-color: #c71818;
}

/* Espacio extra entre azul y rojo */
.boton.rojo {
    margin-right: 50px;
}
